.navbarCustom{

    background-color: rgb(27, 182, 133);
    padding: 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Dropdown {
    background-color: rgb(9, 158, 111);

}

.Dchild{
    background-color: rgb(4, 121, 84) !important;
    text-decoration: solid !important;
}